---
layout: page
---

{% assign promises = site.data.data.promises %}
{% assign icons = site.data.data.icons %}
{% assign statuses = site.data.data.statuses %}
{% assign confidence = site.data.data.confidence %}
{% assign total = promises | size %}

{% assign categories = promises | map: 'category' | uniq %}

{% assign estimatedprogress = site.data.majorsystems.data[0].gpercent %}

<div class="container promises-header page-header" id="promises-header">
    <div class="row">

        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item">
                    <i class="fa fa-calendar fa-fw"></i>
                    <b>Days since Kickstarter ended: <span id="days-in-office"><i class='loading'>Loading...</i></span></b>
                </li>

                {% for status in statuses %}
                    {% assign status_name = status[0] %}
                    {% assign status_data = status[1] %}
                    <li class="list-group-item list-group-item-{{ status_data['color'] }}" data-list-facet="js-promise-status" data-facet-value="{{ status_name }}" data-select-single="true">
                        <i class="fa fa-fw fa-{{ status_data['icon'] }} "></i>
                        {% assign category_total = (promises | where: "status",status_name | size) %}
                        {% assign category_percent = (promises | where: "status",status_name | size | times: 100 | divided_by: total) %}
                        {% if category_percent == 0 %}
                            {% assign category_percent = 1 %}
                        {% endif %}
                        {{ status_name }}: <span class="active-points">{{ category_total }}</span>   <span class="total-points">({{ category_percent }}%)</span>
                    </li>
                {% endfor %}

            </ul>
        <canvas id="timechart"></canvas>
        </div>

        <div class="container-fluid">
            <p>This is a fork of <a href="https://starcitizentracker.github.io/">Starcitizentracker</a> which while being a good idea it sadly lacks any kind of transparency which hinders it's claim to be a good faith attempt to track development.</p>
            <p>This fork aims at fixing this, to this end all discussion, changes and decisions will be <a href="{{ site.gh_url }}/issues">completely in the open</a> and transparrent.</p>
            <br>
                <span><b>Accuracy Confidence:</b></span>
                <button type="submit" class="btn btn-default" id="confidence-btn" data-toggle="tooltip" data-placement="right" title="" data-original-title="submit sources to improve this number">{{ confidence }}%</button>
            </p>
            <div id="share-buttons" class="text-center">
                <ul class="list-inline">
                    <li>
                        <a href="https://twitter.com/home?status=Track%C2%A0%40RobertsSpaceInd's%C2%A0commitments%C2%A0with%C2%A0%23StarCitizenTracker%20https%3A//sqrw.github.io/"
                           target="_blank" style="color:#1da1f2;">
                            <i class="fa fa-2x fa-twitter"></i>
                        </a>
                    </li-->
                </ul>
            </div>
            <p><b>Estimated Completion on <u>Major Systems</u> Only:</b></p>
            <a href="https://sqrw.github.io/majorsystems/" style="color:white">
            <div class="progress">
                <div class="progress-bar progress-bar-default progress-bar-striped" role="progressbar" style="width:{{ estimatedprogress }}%; cursor: pointer;" onclick="window.location='https://sqrw.github.io/majorsystems/';">{{ estimatedprogress }}%</div>
            </div>
            </a>
         </div>
        </div>
    </div>

<div class="container-fluid promises" id="promises">
    <div class="row promises__search-row">
        <div class="col-md-5">
            <form action="#" class="form-inline">
                <input id="search" type="text" class="form-control search" placeholder="Search">
                <button class="promises__category--reset btn btn-default">
                    <i class="fa fa-fw fa-refresh"></i> Clear
                    <i class="fa fa-fw fa-filter"></i><span id="count">{{ total }}</span>/{{ total }}
                </button>
            </form>
            <br>
        </div>
        <div class="col-md-7" id="center-on-mobile">
            <div class="pull-right">

                <div class="promises__statuses">
                    {% for status in statuses %}
                        {% assign status_name = status[0] %}
                        {% assign status_data = status[1] %}

                        <button class="btn btn-{{ status_data['color'] }}" data-list-facet="js-promise-status" data-facet-value="{{ status_name }}" data-select-single="true">
                            <i class="fa fa-{{ status_data['icon'] }} fa-fw" aria-hidden="true"></i>
                            <span class="remove-on-mobile">{{ status_name }}</span>
                        </button>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs" id="myTabs" role="tablist" >
            {% for category in categories %}
                <li role="presentation" data-list-facet="js-promise-category" data-facet-value="{{ category }}" class="{{ category }}">
                    <a href="#" role="tab" data-toggle="tab" class="text-muted">
                        <i class="fa fa-fw fa-{{ icons[category] }}"></i>&nbsp;
                        <span class="remove-on-mobile">{{ category }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- <div class="row promises__category-row">
        <div class="col-md-12">

            <div class="promises__categories">

                {% for category in categories %}
                <button class="promises__category btn btn-default" data-list-facet="js-promise-category" data-facet-value="{{ category }}">
                    <i class="fa fa-fw fa-{{ icons[category] }}"></i> {{ category }}
                </button>
                {% endfor %}

            </div>

        </div>
    </div> -->
    <!-- /.promises__category-row -->

    <div class="row promises__table container-fluid">
                <table class="table table-striped">

                    <thead>
                    <tr>
                        <!--<th>ID</th> -->
                        <!--<th>Status</th>-->
                        <!--<th>Category</th>-->
                        <!-- <th>Tags</th> -->
                        <th>Expectation</th>
                        <!-- <th>Sources</th> -->
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody class="list">
                    <!-- add color to each policy -->
                    {% for promise in promises %}
                    <tr class="promise {% if promise.status == 'Not implemented' %}warning{% endif %}{% if promise.status == 'In alpha' %}info{% endif %}{% if promise.status == 'Completed' %}success{% endif %}{% if promise.status == 'Broken' %}danger{% endif %}{% if promise.status == 'Stagnant' %}stagnant{% endif %}{% if promise.status == 'Compromised' %}compromised{% endif %}">
                        <!-- <td class="promise__id">{{ forloop.index }}.</td> --> <!-- Numbering promises is slightly annoying because we deal with a lot more promises than TrumpTracker and prefer to sort by date which may change the numbering -->

                        <!--
                         <td class="promise__status" title="{{ promise.status }}">
                            <i class="fa fa-fw fa-{{ statuses[promise.status]['icon'] }} text-{{ statuses[promise.status]['color'] }}" title="{{ promise.status }}"></i>
                            <span class="promise__status-text js-promise-status sr-only">{{ promise.status }}</span>
                        </td>
                        -->
                        <!--
                        <td class="promise__category" style="white-space: nowrap;">
                            <i class="fa fa-fw fa-{{ icons[promise.category] }}"></i> <span class="js-promise-category">{{ promise.category }}</span>
                        </td>
                        -->
                        <!-- <td class="promise__tags" style="text-align: center;">
                            {% for tag in promise.tags %}
                            <a class="label label-default">{{ tag }}</a>
                            {% endfor %}
                        </td> -->
                        <td class="promise__title js-promise-text">
                            <a name="{{ promise.title | replace: ' ', '_' }}" class="anchor"></a>
                        <b><span class="js-promise-category">{{ promise.category }}</span>:</b>
                        <span class="promise__status-text js-promise-status sr-only">{{ promise.status }}</span>
                        {{ promise.title }}
                            <!-- Append badges for anything of interest -->
                            {% for tag in promise.tags %}
                                {% if tag == 'Kickstarter Stretch Goal' %}
                                    <span class="badge badge-success">{{ tag }}</span>
                                {% endif %}
                                {% if tag == 'Official Stretch Goal' %}
                                    <span class="badge badge-inverse">{{ tag }}</span>
                                {% endif %}
                            {% endfor %}
                        <!-- add superscript citations and sources -->
                        {% for source in promise.sources %}
                            <sup><a href="{{ source }}">{{ forloop.index }}</a></sup>
                        {% endfor %}
                        </td>
                        <!-- <td class="promise__sources" style="white-space: nowrap;">
                        </td> -->
                        <td class="promise__actions">
                            <!-- clickable actions -->
                            <!-- <a href="{{ promise.comments }}" target="_blank" rel="nofollow"> 
                            <i class="fa fa-fw fa-comments text-muted" aria-hidden="true"></i></a> -->
                            <a href="#{{ promise.title | replace: ' ', '_' }}" rel="nofollow"> 
                            <i class="fa fa-fw fa-link text-muted" aria-hidden="true"></i></a>

                            <!-- {% capture status %}
                                {% if promise.status == "Not implemented" %} hasn't added
                                {% elsif promise.status == "In alpha" %} is progressing on
                                {% elsif promise.status == "Completed" %} completed
                                {% elsif promise.status == "Broken" %} broke
                                {% elsif promise.status == "Compromised" %} compromised on
                                {% elsif promise.status == "Stagnant" %} is taking forever on
                                {% else %}
                                {% endif %}
                            {% endcapture %}{% capture message %}.@RobertsSpaceInd{{ status }} promise: {{ promise.title }} according to{% endcapture %}

                            {% capture tweettext %}{{ message }}{% endcapture %}

                            <a href="https://twitter.com/share?url=https://starcitizentracker.github.io/&text={{ tweettext | truncate: 102 | url_encode }}&hashtags=StarCitizen" target="_blank"><i class="fa fa-fw fa-twitter text-muted" aria-hidden="true"></i></a> -->
                            <!-- hoverover quote -->
                            {% if promise.quote contains '|' %}
                                {% assign quotesplit = promise.quote | split: '|' %}
                                {% assign quotee = quotesplit[0] %}
                                {% assign quotetext = quotesplit[1] %}
                            {% else %}
                                {% assign quotee = 'Chris Roberts' %}
                                {% assign quotetext = promise.quote %}
                            {% endif %}
                            {% if promise.quote != undefined %}
                                <i class="fa fa-fw fa-quote-left text-muted" aria-hidden="true" data-toggle="tooltip" title="{{ quotee }}: &ldquo;{{ quotetext }}&rdquo;"></i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
</div>
<!-- /#promises -->
