---
layout: page
title: Major Systems
permalink: /majorsystems/
comments: false
---

{% assign data = site.data.majorsystems.data %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Major Systems</h1><br>
			<div class="col-md-12 text-left">
				<h3>Warning:</h3>
				<p>These <strong>estimates</strong> currently reward up to 30% for showing internal builds which is very different from our main page which requires features be working in public builds.</p>
                <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseScore" aria-expanded="false" aria-controls="collapseScore">
                    Reveal Complete Scoring System
                </a>
                </p>
                <div class="collapse" id="collapseScore">
                <div class="card card-block">
                    <table class="table table-bordered table-striped table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Estimate
                                </th>
                                <th>
                                    Criteria
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    0%
                                </td>
                                <td>
                                    Progress not covered
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    10%
                                </td>
                                <td>
                                    Progress talked about
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    20%
                                </td>
                                <td>
                                    Progress spoken about at length
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    30%
                                </td>
                                <td>
                                    Progress appears in video or internal demo
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    40%
                                </td>
                                <td>
                                    Feature accessible in specialist alpha
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    50%
                                </td>
                                <td>
                                    Feature accessible in live alpha
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    60%
                                </td>
                                <td>
                                    Feature working and being iterated on
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    70%
                                </td>
                                <td>
                                    Feature working somewhat functional
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    80%
                                </td>
                                <td>
                                    Feature working reliably
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    90%
                                </td>
                                <td>
                                    Feature receiving final tweaks
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    100%
                                </td>
                                <td>
                                    Release ready
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <div class="row promises__table container-fluid">
        <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
        {% for row in data %}
            <!-- color and naming logic -->
            {% assign score = row.gpercent | plus: 1 %}
            {% if score < 10 %}
                {% assign color = 'danger' %}
                {% assign row.gpercent = '< 10% or Unknown' %}
            {% elsif score < 20 %}
                {% assign color = 'warning' %}
            {% elsif score < 40 %}
                {% assign color = 'success' %}
            {% elsif score < 60 %}
                {% assign color = 'info' %}
            {% elsif score < 90 %}
                {% assign color = 'default' %}
            {% endif %}

            {% if row.weight == 2 %}
            <thead><tr><th>
                <h1>{{ row.title }}</h1>
                <div class="progress">
                    <div class="progress-bar progress-bar-{{ color }} progress-bar-striped" role="progressbar" style="width:{{ score }}%; font-size: 26px;"> ({{ row.gpercent }}%) </div>
                </div>
            </th></tr></thead>
            {% elsif row.weight == 1 %}
            <tbody><tr><th>
                <h2>{{ row.title }} ({{ row.gpercent }}%)</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-{{ color }} progress-bar-striped" role="progressbar" style="width:{{ score }}%" height:"10px"></div>
                </div>
            </th></tr></tbody>
            {% else %}
            <tbody><tr style="height:20px"><td>
                <h6>{{ row.title }} ({{ row.gpercent }}%)</h6>
                <div class="progress" style="height:10px">
                    <div class="progress-bar progress-bar-{{ color }}" role="progressbar" style="width:{{ score }}%"></div>
                </div>
            </td></tr></tbody>
            {% endif %}
        {% endfor %}
        </table>
    </div>
</div>
