---
layout: page
title: Major Systems
permalink: /majorsystems/
comments: false
---

{% assign data = site.data.majorsystems.data %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Major Systems</h1><br>
			<br>
			<div class="col-md-12 text-left">
				<h1></h1>
				<hr>
				<p>This is a somewhat subjective.</p>
			</div>
			<div class="col-md-12 text-left">
				<h2>Warning:</h2>
				<p>This estimate currently rewards up to 30% for showing internal builds which is very different from our main page.</p>
                <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseScore" aria-expanded="false" aria-controls="collapseScore">
                    Scoring System
                </a>
                </p>
                <div class="collapse" id="collapseScore">
                <div class="card card-block">
                    TEXT
                </div>
                </div>
			</div>
		</div>
	</div>
    <div id="accordion" role="tablist" aria-multiselectable="true">
    {% assign num = 0 %}
    {% for parent in data %}
        {% assign num = num | plus: 1 %}
        <!-- {% assign status_name = status[0] %} -->
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" href="#heading{{ num }}" style="width:{{ parent.value }}%" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapse{{ num }}">
                            {{ parent.name }}
                        </div>
                    </div>
                </h5>
            </div>
            <div class="card-block">
            <div id="collapse{{ num }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ num }}">
                {% for child in parent %}
                    {% assign score = child.value | plus:0 %}
                    {% if score < 0 %}
                        {% assign color == danger %}
                    {% elsif score < 20 %}
                        {% assign color == warning %}
                    {% elsif score < 40 %}
                        {% assign color == success %}
                    {% elsif score < 60 %}
                        {% assign color == info %}
                    {% elsif score < 100 %}
                        {% assign color == default %}
                    {% endif %}
                <div class="progress-bar progress-bar-{{ color }} progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ child.value }}%">
                    {{ child.name }}
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
        <!-- {{ status_name }}: <span class="active-points">{{ category_total }}</span>   <span class="total-points">({{ category_percent }}%)</span> -->
    </div>
    </div>
</div>
