---
layout: page
title: Major Systems
permalink: /majorsystems/
comments: false
---

{% assign data = site.data.majorsystems.data %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Major Systems</h1><br>
			<br>
			<div class="col-md-12 text-left">
				<h1></h1>
				<hr>
				<p>This is a somewhat subjective.</p>
			</div>
			<div class="col-md-12 text-left">
				<h2>Warning:</h2>
				<p>This estimate currently rewards up to 30% for showing internal builds which is very different from our main page.</p>
                <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseScore" aria-expanded="false" aria-controls="collapseScore">
                    Reveal Complete Scoring System
                </a>
                </p>
                <div class="collapse" id="collapseScore">
                <div class="card card-block">
                    <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Estimate
                                </th>
                                <th>
                                    Criteria
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    0%
                                </td>
                                <td>
                                    Progress not covered
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    10%
                                </td>
                                <td>
                                    Progress talked about
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    20%
                                </td>
                                <td>
                                    Progress spoken about at length
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    30%
                                </td>
                                <td>
                                    Progress appears in video or internal demo
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    40%
                                </td>
                                <td>
                                    Feature accessible in specialist alpha
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    50%
                                </td>
                                <td>
                                    Feature accessible in live alpha
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    60%
                                </td>
                                <td>
                                    Feature working and being iterated on
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    70%
                                </td>
                                <td>
                                    Feature working somewhat functional
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    80%
                                </td>
                                <td>
                                    Feature working reliably
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    90%
                                </td>
                                <td>
                                    Feature reciving final tweaks
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    100%
                                </td>
                                <td>
                                    Release ready
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <div class="row promises__table container-fluid">
        <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
        {% for row in data %}
            <!-- color and naming logic -->
            {% assign score = row.gpercent | plus: 1 %}
            {% if score < 0 %}
                {% assign color = 'danger' %}
            {% elsif score < 20 %}
                {% assign color = 'warning' %}
            {% elsif score < 40 %}
                {% assign color = 'success' %}
            {% elsif score < 60 %}
                {% assign color = 'info' %}
            {% elsif score < 100 %}
                {% assign color = 'default' %}
            {% endif %}

            {% if row.weight == 1 %}
            <tbody><tr><th>
                <h3>{{ row.title }} ({{ row.gpercent }}%)</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-{{ color }} progress-bar-striped" role="progressbar" style="width:{{ score }}%"></div>
                </div>
            </th></tr></tbody>
            {% else %}
            <tbody><tr><td>
                <h5>{{ row.title }} ({{ row.gpercent }}%)</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-{{ color }}" role="progressbar" style="width:{{ score }}%"></div>
                </div>
            </td></tr></tbody>
            {% endif %}
        {% endfor %}
        </table>
    </div>
</div>
