---
layout: compress
---

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="en">
    <!-- Viren Mohindra and Nuked Studios Copyright 2016 MIT Open Source @ https://github.com/TrumpTracker/trumptracker.github.io -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="description" content="StarCitizen Tracker offers a frank rundown of all the expectations and features for the largest crowdfunding project in history, Star Citizen" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>StarCitizen Tracker</title>
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="StarCitizen Tracker">
        <meta itemprop="author" content="GOONS">
        <meta itemprop="datePublished" content="2016-11-10T00:51:00-05:00">
        <meta itemprop="publisher" content="SOMETHINGAWFULDOTCOM">
        <meta itemprop="description" content="StarCitizen Tracker offers a frank rundown of all the expectations and features for the largest crowdfunding project in history, Star Citizen">
        <meta itemprop="headline" content="StarCitizen Tracker - The Best Way to track the lofty expectations of Star Citizen." />
        <meta itemprop="image" content="assets/social-share.png">
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@StarCitizenTracker">
        <meta name="twitter:title" content="StarCitizen Tracker">
        <meta name="twitter:description" content="StarCitizen Tracker offers a frank rundown of all the expectations and features for the largest crowdfunding project in history, Star Citizen">
        <meta name="twitter:creator" content="@StarCitizenTracker">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image" content="https://starcitizentracker.github.io/assets/social-share.png">

        <!-- Open Graph data -->
        <meta property="og:title" content="StarCitizen Tracker" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://starcitizentracker.github.io/" />
        <meta property="og:image" content="https://starcitizentracker.github.io/assets/trump-main.jpg" />
        <meta property="og:description" content="StarCitizen Tracker offers a frank rundown of all the expectations and features for the largest crowdfunding project in history, Star Citizen" />
        <meta property="og:site_name" content="StarCitizen Tracker" />
        <meta property="article:published_time" content="2017-04-17T00:51:00-05:00" />
        <meta property="article:modified_time" content="2017-04-17T00:52:47-05:00" />
        <meta property="article:section" content="Gaming" />
        <meta property="article:tag" content="Gaming" />
        <meta property="fb:admins" content="785013260" />
		<link rel="alternate" title="RSS feed" type="application/rss+xml" href="">
        <link rel="shortcut icon"                       href="/assets/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon"                    href="/assets/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57"      href="/assets/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72"      href="/assets/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76"      href="/assets/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114"    href="/assets/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120"    href="/assets/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144"    href="/assets/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152"    href="/assets/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180"    href="/assets/apple-touch-icon-180x180.png" />
        <meta name="apple-mobile-web-app-title"         content="StarCitizen Tracker">
        <meta name="application-name"                   content="StarCitizen Tracker">
        <meta name="theme-color"                        content="#ffffff">
        <!-- CSS libraries -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- CSS custom -->
        <link rel="stylesheet" href={{ "/css/styles.css" | relative_url }}>
        <!-- Analytics JS -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-114799564-1', 'auto');
		ga('send', 'pageview');
	</script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">

            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="https://starcitizentracker.github.io/">
                        <b>StarCitizen Tracker</b>
                    </a>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-right" action="https://goo.gl/forms/kBqRMa2nVfzdTfSk1" method="get" target="_blank">
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Will need sources!">Submit a new promise</button>
                    </form>
			<form class="navbar-form navbar-right" action="https://goo.gl/forms/w8aIMcafIG3gW58X2" method="get" target="_blank">
				<button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Please review the FAQ before submitting">Update an expectations status</button>
			</form>
                    <ul class="nav navbar-nav navbar-right">
			<li><a href="/faq">FAQ</a></li>
                        <li><a href="/about">About Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container-fluid -->

        </nav>

        {{content}}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-muted">By <a href="https://forums.somethingawful.com/forumdisplay.php?forumid=212" target="_blank" class="maintainer-name">Bitter EvE Goons</a></p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-muted">Forked from <a href="https://trumptracker.github.io/" target="_blank" rel="nofollow">Trump Tracker</a></p>
			<p class="text-muted">Inspired by <a href="https://web.archive.org/web/20160816191001/https://www.reddit.com/r/NoMansSkyTheGame/comments/4y046e/wheres_the_nms_we_were_sold_on_heres_a_big_list/" target="_blank" rel="nofollow">Where's the NMS we were sold on?</a></p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-muted"><a href="https://raw.githubusercontent.com/StarCitizenTracker/StarCitizenTracker.github.io/master/_data/data.json" target="_blank" rel="nofollow">Open Data</a></p>
                    </div>			
                    <div class="col-md-3">
			<p class="text-muted"><a href="/presskit/">Press Kit</a></p>
                        <p class="text-muted"><a href="https://youtu.be/cRQppqV2LwQ?t=74" target="_blank">Terms &amp; Conditions</a></p>
                    </div>
                </div>
            </div>
		<div class="row">
			<div class="col-md-12 text-center">
			<h4 class="text-muted">Open Source on Github <a href="https://github.com/StarCitizenTracker/StarCitizenTracker.github.io"><i class="fa fa-github fa-fw"></i></a></h4>
			</div>
		</div>
        </footer>

        <!-- Libraries -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js" integrity="sha384-JDmRxRiXkNkskRM5AD4qHRGk9ItwZ9flbqOpsRYs8SOrIRwcMtTGKP2Scnjptzgm" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha384-FwbQ7A+X0UT99MG4WBjhZHvU0lvi67zmsIYxAREyhabGDXt1x0jDiwi3xubEYDYw" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" integrity="sha384-KgEy7s3ThYKule8wWiu2WJkm0AmJeSLkXku5PY5X8MhVgdm8K1ebsVRKHfNfWPrR" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" integrity="sha256-GcknncGKzlKm69d+sp+k3A2NyQE+jnu43aBl6rrDN2I=" crossorigin="anonymous"></script>

        <!-- Custom js -->
        <script src={{ "/js/main.js" | relative_url }}></script>
	<script id="cid0020000153952702830" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 200px;height: 300px;">{"handle":"starcitizentracking","arch":"js","styles":{"a":"000000","b":100,"c":"FFFFFF","d":"FFFFFF","k":"000000","l":"000000","m":"000000","n":"FFFFFF","p":"10","q":"000000","r":100,"pos":"br","cv":1,"cvbg":"000000","cvw":75,"cvh":30}}</script>
    </body>
</html>
